$primary-color: #272727;
$secondary-color: rgb(255, 255, 255);
$accent-color: rgb(177, 80, 177);

//resets
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin transition-ease {
       // transition: all 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}


//function to change text color
@function set-text-color($color) {
    @if (lightness($color) > 40%) {
        @return $primary-color;
    } @else {
        @return $secondary-color;
    }
}

@mixin media-md {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin media-xl {
    @media screen and (min-width: 1600px) {
        @content;
    }
}
