@include media-sm {
    #about {
        padding-bottom: 2rem;
        height: 100%;
        padding-top: 10vh;
        overflow: scroll;
        align-items: center;
        text-align: center;
        background: $secondary-color;
        color: $primary-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        line-height: 1.5;
        font-size: 1.5rem;
    }
}

@include media-md {
    .menu-btn {
        visibility: hidden;
    }

    .nav {
        visibility: visible;

        .nav-menu {
            display: block;
            transform: translateY(0);
            height: 100%;
            background-color: $primary-color;
            text-align: right;

            .nav-item {
                display: inline;
                padding-right: 1.5rem;
                transition: none;
            }

            .nav-link {
                font-size: 1.5rem;
                transition: none;
            }
        }

      
    }

    .about-bio {
        font-size: 1.5rem;
    }

    #projects {
        padding-top: 200px;
        .projects-items {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .contact-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@include media-lg {
    .contact-list {
        grid-template-columns: repeat(3, 1fr);
    }
}
